/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .two-col{
        margin: 0;
    }
    .inline {
        margin: 0px 35px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .mail{
    width: 90%;
    }
    .button{
        width: 90%;
        margin-top: 5px;
    }
    .main-title>p{
        margin-bottom: 0;
    }
    .content{
        margin-top: 0;
    }
    .one{
        margin-bottom: 50px;
    }
    .inline{
        display: inline;
        text-align: center;
    }

}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .header-logo, .header-menu, .header-links{
       width: 100%;
        margin: 0 auto;
    }
    .header-links{
        margin-right: 23%;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}