@height: 100%;
@left: 129px;

*{
	margin: 0px;
}
header{
	background-color: #fcdb00;
	height: @height;
	top:0;
	padding-bottom: 10%;
	margin: 0px 0px;
}
.header-top{
	padding-top: 50px;
	text-align: center;
	width: 100%;
}
.logo{
	background-color: transparent;
}
.header-logo, .header-menu, .header-links{
	;
	margin: 0px;
	display: inline-block;
	vertical-align: middle;

}
.header-menu{
	height: @height;
	float: left;
	margin-left: 5%;
}
.header-logo{
	height: @height;
	margin-left: 10%;
}
.header-links{
	height: @height;
	max-width: 150px;
	float: right;
	margin-right: 8%;
}
.header-logo>img, .header-logo>h1{
	display: inline-block;
	margin: 0px 5px;
}
.links li, .links a {
	height: 25px;
	display: inline-block;
	margin: -2px auto;
}
.links> li{
	border: 2px solid black;
	border-radius: 3px;
	margin: 0px 3px;
	background-color: black;
}
.links>a{
	color: black;
}
.links{
	padding: 0px;
	vertical-align: middle;
}

.twitter {
	left: @left;
	width: 20px;
	background: url('../image/sprite-Img.png') 75px 0;

}
.facebook {
	left: @left;
	width: 20px;
	background: url('../image/sprite-Img.png') 227px -4px;
}
.google {
	left: @left;
	width: 20px;
	background: url('../image/sprite-Img.png')191px -4px;
}
.p {
	left: 129px;
	width: 20px;
	background: url('../image/sprite-Img.png') 151px -5px;
}
.header-second-line{
	margin-top: 20%;
	text-align: center;
}
.header-second-line> h1{
	font-size: 48px;
}
.header-second-line>p{
	max-width:900px;
	margin: 35px auto;
	font-size: 20px;
}
.header-second-line>ul{
	padding: 0px;
}
.header-second-line>ul> li{
	border: 2px solid black;
	border-radius: 50%;
	margin: 0px 3px;
	background-color: transparent;
}
.header-second-line>ul> li, .header-second-line>ul> li>a {
	height: 70px;
	display: inline-block;
	margin: -2px auto;
	background-size: 585px;
	color: black;
}
.apple {
	left: @left;
	width:70px;
	background: url('../image/sprite-2.png')-130px 0;
}
.android {
	left: @left;
	width:70px;
	background: url('../image/sprite-2.png')-60px 0;
}
.win {
	left: @left;
	width:70px;
	background: url('../image/sprite-2.png')75px 0;
}
.white-back{
	background-color: white;
}
.main-title{
	text-align: center;
	margin-top: 110px;
}
.main-title> h1{
	font-size: 32px;
}
.main-title>p{
	max-width: 900px;
	margin: 35px auto;
	font-size: 20px;
}
.line{
	display: inline-block;
	vertical-align: middle;

}
.content{
	text-align: center;
	margin-top: 75px;


}

.two-col{
	margin: 0 7%;

}

.items> h4{
	font-size: 22px;
	margin-bottom: 10px;
}
.items>p{
	max-width: 220px;
	font-size: 16px;
	color: #898989
}
.items{
	margin-top: 80px;
}
.black-back{
	background-color: black;
	margin-top: 10%;
}
.second-title{
	text-align: center;
	padding-top: 60px;
}
p, h1,h2,h4{
	font-family: sans-serif;
}
.second-title h2{
	color: #fcdb00;
	font-family: sans-serif;
	font-size: 32px;
}
.second-title p{
	color: #898989;
	max-width: 900px;
	font-size: 20px;
	margin: 35px auto;
}
.form{
	text-align: center;
	padding-bottom: 60px;
}
.mail{
	width: 580px;
	height: 50px;
	outline: none;
	border-radius: 5px;
	margin: 0 10px;
	border: none;
}
.button{
	width: 130px;
	height: 50px;
	color : black;
	background-color: #fcdb00;
	border: none;
	border-radius: 5px;
	outline: none;
}
.foot{
	text-align: center;
	background-color: black;
}
.inline{
	display: inline-block;
	max-width: 15%;
	text-align: left;
	vertical-align: top;
	margin: 0px 50px;
}
.inline p{
	color: #dfdfdf;
	font-family: sans-serif;
}
.inline ul{
	list-style-type: none;
	padding: 0;

}
.inline ul li a{
	text-decoration: none;
	color: #dfdfdf;
	font-family: sans-serif;
}
